[ req ]
distinguished_name = req_distinguished_name
x509_extensions = extension

[ req_distinguished_name ]
commonName = rootca

[ extension ]
keyUsage = critical, keyCertSign, cRLSign
basicConstraints = critical, CA:TRUE
